@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

div.colors div {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  display: inline-block;
}

.base-color {
  background: #ff5533;
}

.complementary-color {
  background: #33ddff;
}

.analogous-positive {
  background: #ffbb33;
}

.complementary-analogous-positive {
  background: #3377ff;
}

@media screen {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  * html {
    font-size: 100%;
  }

  html {
    font-size: 16px;
    line-height: 1.5em;
  }

  html {
    background: #f7f7f7 url("images/subtle_dots.gif") fixed;
  }

  body {
    font-family: "Noto Serif", serif;
    color: #3c3c3c;
    *zoom: 1;
    padding-left: 2.85714%;
    padding-right: 2.85714%;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #33ddff), color-stop(50%, #33ddff), color-stop(50%, transparent)) repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff5533), color-stop(50%, #ff5533), color-stop(50%, transparent)) repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffbb33), color-stop(50%, #ffbb33), color-stop(50%, transparent)) repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #3c3c3c), color-stop(50%, #3c3c3c), color-stop(50%, transparent)) repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #3377ff), color-stop(50%, #3377ff), color-stop(50%, transparent)) repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #3c3c3c), color-stop(100%, #3c3c3c)) repeat-x;
    background: -webkit-linear-gradient(left, #33ddff 0%, #33ddff 50%, transparent 50%) repeat-x, -webkit-linear-gradient(left, #ff5533 0%, #ff5533 50%, transparent 50%) repeat-x, -webkit-linear-gradient(left, #ffbb33 0%, #ffbb33 50%, transparent 50%) repeat-x, -webkit-linear-gradient(left, #3c3c3c 0%, #3c3c3c 50%, transparent 50%) repeat-x, -webkit-linear-gradient(left, #3377ff 0%, #3377ff 50%, transparent 50%) repeat-x, -webkit-linear-gradient(left, #3c3c3c, #3c3c3c) repeat-x;
    background: -moz-linear-gradient(left, #33ddff 0%, #33ddff 50%, transparent 50%) repeat-x, -moz-linear-gradient(left, #ff5533 0%, #ff5533 50%, transparent 50%) repeat-x, -moz-linear-gradient(left, #ffbb33 0%, #ffbb33 50%, transparent 50%) repeat-x, -moz-linear-gradient(left, #3c3c3c 0%, #3c3c3c 50%, transparent 50%) repeat-x, -moz-linear-gradient(left, #3377ff 0%, #3377ff 50%, transparent 50%) repeat-x, -moz-linear-gradient(left, #3c3c3c, #3c3c3c) repeat-x;
    background: -o-linear-gradient(left, #33ddff 0%, #33ddff 50%, transparent 50%) repeat-x, -o-linear-gradient(left, #ff5533 0%, #ff5533 50%, transparent 50%) repeat-x, -o-linear-gradient(left, #ffbb33 0%, #ffbb33 50%, transparent 50%) repeat-x, -o-linear-gradient(left, #3c3c3c 0%, #3c3c3c 50%, transparent 50%) repeat-x, -o-linear-gradient(left, #3377ff 0%, #3377ff 50%, transparent 50%) repeat-x, -o-linear-gradient(left, #3c3c3c, #3c3c3c) repeat-x;
    background: linear-gradient(left, #33ddff 0%, #33ddff 50%, transparent 50%) repeat-x, linear-gradient(left, #ff5533 0%, #ff5533 50%, transparent 50%) repeat-x, linear-gradient(left, #ffbb33 0%, #ffbb33 50%, transparent 50%) repeat-x, linear-gradient(left, #3c3c3c 0%, #3c3c3c 50%, transparent 50%) repeat-x, linear-gradient(left, #3377ff 0%, #3377ff 50%, transparent 50%) repeat-x, linear-gradient(left, #3c3c3c, #3c3c3c) repeat-x;
    -webkit-background-size: 57% 5px, 41% 5px, 37% 5px, 29% 5px, 13% 5px, 7% 5px, contain;
    -moz-background-size: 57% 5px, 41% 5px, 37% 5px, 29% 5px, 13% 5px, 7% 5px, contain;
    -o-background-size: 57% 5px, 41% 5px, 37% 5px, 29% 5px, 13% 5px, 7% 5px, contain;
    background-size: 57% 5px, 41% 5px, 37% 5px, 29% 5px, 13% 5px, 7% 5px, contain;
    background-position: -10% 0, -10% 0, -15% 0, -15% 0, -20% 0, -20% 0, bottom left;
    padding-top: 5px;
    background-color: #fff;
  }
  body:after {
    content: "";
    display: table;
    clear: both;
  }

  a {
    color: #ff5533;
  }
  a:visited {
    color: #ff2a00;
  }
  a:focus {
    color: #ffbb33;
  }
  a:hover {
    color: #ffbb33;
  }
  a:active {
    color: #ff5533;
  }
  nav a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.33333em;
    line-height: 2em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 2em;
    line-height: 1em;
    margin-top: 2em;
    font-weight: bold;
  }
  h2:first-child {
    margin-top: 1em;
  }

  h3 {
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1.2em;
    font-family: "Noto Sans", sans-serif;
    color: rgba(60, 60, 60, 0.75);
    margin-top: 2.4em;
  }
  h2 + h3 {
    margin-top: 1.2em;
  }

  h4, h5, h6 {
    margin-top: 1.5em;
  }
  h4 + p, h5 + p, h6 + p {
    margin-top: 0;
  }

  h4 {
    font-weight: bold;
  }

  h5 {
    font-style: italic;
  }

  h6 {
    font-style: italic;
    color: rgba(60, 60, 60, 0.5);
  }

  p {
    margin: 1.5em 0;
  }

  blockquote {
    margin: 0 1.5em 0 0;
    border-left: 1px solid rgba(60, 60, 60, 0.1);
    padding-left: 1.5em;
    font-style: italic;
  }

  dl {
    margin: 1.5em 0;
  }
  dl dt {
    font-weight: bold;
  }
  dl dd {
    margin: 0 0 1.5em 1.5em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul, ol {
    padding: 0;
    margin: 1.5em 0 1.5em 1.5em;
  }
  nav ul, nav ol {
    margin-left: 0;
    padding-left: 0;
    list-style: none !important;
  }
  ul ul, ol ul {
    list-style: circle;
  }
  ul ol, ol ol {
    list-style: upper-alpha;
  }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 1.5em;
  }
  ul ul ul, ul ol ul, ol ul ul, ol ol ul {
    list-style: square;
  }
  ul ul ol, ul ol ol, ol ul ol, ol ol ol {
    list-style: lower-alpha;
  }
  ul ul ul ul, ul ul ol ul, ul ol ul ul, ul ol ol ul, ol ul ul ul, ol ul ol ul, ol ol ul ul, ol ol ol ul {
    list-style: diamond;
  }
  ul ul ul ol, ul ul ol ol, ul ol ul ol, ul ol ol ol, ol ul ul ol, ol ul ol ol, ol ol ul ol, ol ol ol ol {
    list-style: lower-roman;
  }

  input[type=text],
  textarea {
    display: block;
    padding: 3px;
    border: 1px solid #ccc;
  }

  label {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    color: rgba(60, 60, 60, 0.75);
    font-size: 0.875em;
    line-height: 1.71429em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,
  td {
    padding: 1.5em 0.75em 0;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
    border-color: rgba(0, 0, 0, 0.2);
  }

  th {
    border-bottom-style: solid;
    border-bottom-width: 0.1875em;
    padding-bottom: 1.3125em;
    text-align: left;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  em, i {
    font-style: italic;
  }

  strong, b {
    font-weight: bold;
  }

  code {
    font-family: monospace;
    color: rgba(0, 0, 0, 0.75);
  }

  del {
    color: rgba(60, 60, 60, 0.5);
  }

  ins {
    text-decoration: none;
    background: rgba(255, 255, 0, 0.125);
  }

  hr {
    border: none;
  }
  hr:after {
    display: block;
    content: "\25C9 \25C9 \25C9";
    font-family: sans-serif;
    color: #ffbb33;
    font-size: 1em;
    line-height: 1.5em;
    line-height: 3em;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: 0.375em;
  }

  figcaption {
    text-align: center;
    color: rgba(60, 60, 60, 0.75);
    font-size: 0.875em;
    line-height: 1.71429em;
    font-style: italic;
  }

  .annual {
    list-style: none;
    margin-left: 0;
  }
  .annual li {
    display: inline;
  }
  .annual li + li:before {
    content: " |";
    color: rgba(60, 60, 60, 0.5);
  }

  header[role=banner] {
    border-bottom: 1px solid rgba(60, 60, 60, 0.1);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0.25))), url("images/subtle_dots.gif");
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("images/subtle_dots.gif");
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("images/subtle_dots.gif");
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("images/subtle_dots.gif");
    background: linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("images/subtle_dots.gif");
    background-attachment: fixed;
    margin-left: -2.85714%;
    padding-left: 2.85714%;
    margin-right: -2.85714%;
    padding-right: 2.85714%;
  }
  header[role=banner]:before, header[role=banner]:after {
    content: "";
    display: table;
  }
  header[role=banner]:after {
    clear: both;
  }
  header[role=banner], .ie header[role=banner] {
    *zoom: 1;
  }
  header[role=banner] h1 {
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1.2em;
    padding-top: 2.4em;
    margin: 0;
  }
  .home header[role=banner] {
    background-image: none;
    background-image: url("images/ach-logo.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: contain;
  }
  .home header[role=banner] h1 {
    font-size: 1.875em;
    line-height: 1.6em;
    padding-top: 4em;
    padding-bottom: 4em;
    display: none;
  }
  .home header[role=banner] .teaser {
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 1.8em;
  }
  .home #sitenav {
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5))), url("images/subtle_dots.gif");
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/subtle_dots.gif");
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/subtle_dots.gif");
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/subtle_dots.gif");
    background: linear-gradient(left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/subtle_dots.gif");
    text-align: left;
    background-attachment: fixed;
    float: none;
    width: auto;
    margin-right: auto;
    *margin-left: auto;
    display: block;
    clear: both;
    margin-left: -2.85714%;
    padding-left: 2.85714%;
    margin-right: -2.85714%;
    padding-right: 2.85714%;
    border-top: 1px solid rgba(60, 60, 60, 0.1);
  }
  .home #sitenav ul {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-top: 1.33333em;
    padding-bottom: 1.33333em;
    padding-left: 5.71429%;
  }
  #sitenav ul {
    font-size: 0.9375em;
    line-height: 1.6em;
    line-height: 1.6em;
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
  }
  #sitenav li {
    display: inline-block;
  }
  #sitenav li + li:before {
    content: "· ";
    color: rgba(60, 60, 60, 0.75);
    padding: 0 0.25em;
  }
  #sitenav li.current-menu-item a, #sitenav li.current_page_item a {
    color: #3c3c3c;
    border-bottom: 3px solid #3c3c3c;
    padding-bottom: 5px;
  }

  div[role=main] {
    padding: 1.5em 0;
    background-image: url("images/ach-logo.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-left: -2.85714%;
    padding-left: 2.85714%;
    margin-right: -2.85714%;
    padding-right: 2.85714%;
  }
  div[role=main]:before, div[role=main]:after {
    content: "";
    display: table;
  }
  div[role=main]:after {
    clear: both;
  }
  div[role=main], .ie div[role=main] {
    *zoom: 1;
  }
  .home div[role=main] {
    background-image: none;
  }
  div[role=main] > h1, .page div[role=main] h1, .single div[role=main] h1 {
    font-size: 2.25em;
    line-height: 1.33333em;
    padding-bottom: 0.66667em;
    margin-bottom: 1.33333em;
    text-align: center;
    margin-left: -2.85714%;
    padding-left: 2.85714%;
    margin-right: -2.85714%;
    padding-right: 2.85714%;
    border-bottom: 1px solid rgba(60, 60, 60, 0.1);
  }
  article:before, article:after {
    content: "";
    display: table;
  }
  article:after {
    clear: both;
  }
  article, .ie article {
    *zoom: 1;
  }
  .blog article h1 {
    font-size: 1.5em;
    line-height: 2em;
    line-height: 1em;
    border: none !important;
    background: none !important;
  }
  .blog article + article:before {
    display: block;
    content: "\25C9 \25C9 \25C9";
    font-family: sans-serif;
    color: #ffbb33;
    font-size: 1em;
    line-height: 1.5em;
    line-height: 3em;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: 0.375em;
  }
  article footer .author-picture {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 6px;
  }
  article footer .author-picture img {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
  }
  article footer p {
    margin: 0;
    line-height: 3em;
    font-weight: bold;
    color: rgba(60, 60, 60, 0.5);
  }

  .small-image {
    float: right;
    width: 30%;
    margin-top: 0;
  }

  .content-feature {
    clear: both;
  }
  .content-feature h2 {
    font-size: 1.125em;
    line-height: 1.33333em;
    line-height: 1.33333em;
  }
  .content-feature h3 {
    font-size: 1.125em;
    line-height: 1.33333em;
    line-height: 1.33333em;
    margin: 1.33333em 0 0;
  }
  .content-feature p, .content-feature ul, .content-feature ol {
    margin: 0 0 1.5em;
  }
  .content-feature ul, .content-feature ol {
    list-style: none;
  }
  .content-feature li {
    line-height: 3em;
  }
  .content-feature li:before, .content-feature li:after {
    content: "";
    display: table;
  }
  .content-feature li:after {
    clear: both;
  }
  .content-feature li, .ie .content-feature li {
    *zoom: 1;
  }
  .content-feature li .post-date {
    float: right;
    text-align: right;
  }
  .content-feature li + li {
    border-top: 1px dotted rgba(60, 60, 60, 0.5);
  }
  .content-feature li a {
    text-decoration: none;
  }

  .contextual {
    clear: right;
    border-bottom: 1px solid rgba(60, 60, 60, 0.1);
  }
  .contextual > ul {
    font-size: 0.875em;
    line-height: 1.71429em;
  }
  .contextual li {
    border-top: 1px solid rgba(60, 60, 60, 0.1);
  }
  .contextual li a {
    display: block;
    line-height: 1.71429em;
    padding-top: 0.85714em;
    padding-bottom: 0.85714em;
    padding: 0.85714em;
  }
  .contextual li.current_page_item a {
    color: #3c3c3c;
    font-weight: bold;
  }

  .commentlist {
    list-style: none;
    margin-left: -40px;
  }
  .commentlist .comment-author,
  .commentlist .comment-meta {
    display: inline;
  }
  .commentlist .comment-author a,
  .commentlist .comment-meta a {
    text-decoration: none;
  }
  .commentlist .comment-meta {
    text-align: right;
    float: right;
    font-size: 0.75em;
    line-height: 2em;
    line-height: 2em;
  }
  .commentlist .says {
    display: none;
  }
  .commentlist cite a {
    text-decoration: none;
  }
  .commentlist img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    display: block;
    float: left;
    margin-left: -40px;
    border: 1px solid rgba(60, 60, 60, 0.1);
    padding: 2px;
  }
  .commentlist li {
    padding-left: 40px;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
  }
  .commentlist > li {
    border-bottom: 1px solid rgba(60, 60, 60, 0.1);
  }
  .commentlist ul {
    list-style: none;
    margin-left: 6.89655%;
    margin-top: 1.5em;
  }
  .commentlist .comment-reply-link {
    text-decoration: none;
    background: #bcbcbc;
    color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.75em;
    line-height: 2em;
    padding: 0.25em 0.5em;
    font-family: "Noto Sans", sans-serif;
  }
  .commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
    background: #ff5533;
  }

  #commentform {
    background: rgba(0, 0, 0, 0.0125);
    padding: 1px 1.5em;
  }
  #commentform input[type=text] {
    display: block;
  }
  #commentform .required {
    color: #ffbb33;
  }

  .form-allowed-tags {
    font-size: 0.875em;
    line-height: 1.71429em;
  }

  .pager:before, .pager:after {
    content: "";
    display: table;
  }
  .pager:after {
    clear: both;
  }
  .pager, .ie .pager {
    *zoom: 1;
  }
  .pager li {
    float: left;
    width: 48%;
  }
  .pager li.newer {
    float: right;
    text-align: right;
  }
  .pager .kicker {
    display: block;
    font-size: 0.6875em;
    line-height: 2.18182em;
    line-height: 2.18182em;
  }

  .person {
    margin: 1.5em 0;
    border-bottom: 1px dotted rgba(60, 60, 60, 0.5);
  }
  .person:before, .person:after {
    content: "";
    display: table;
  }
  .person:after {
    clear: both;
  }
  .person, .ie .person {
    *zoom: 1;
  }
  .person img {
    float: left;
    width: 100px;
    height: 100px;
  }
  .person ul {
    list-style: none;
  }
  .person h3 {
    margin-top: 0;
  }
  .person h3,
  .person p,
  .person ul {
    margin-left: 130px;
  }

  footer[role=contentinfo] {
    padding-top: 1.5em;
    border-top: 1px solid rgba(60, 60, 60, 0.1);
    margin-left: -2.85714%;
    padding-left: 2.85714%;
    margin-right: -2.85714%;
    padding-right: 2.85714%;
    background: white url("images/subtle_dots.gif") fixed;
  }
  footer[role=contentinfo] p,
  footer[role=contentinfo] .vcard {
    font-size: 0.875em;
    line-height: 1.71429em;
    line-height: 1.37143em;
    color: rgba(60, 60, 60, 0.75);
  }
  .kicker {
    margin: 0;
    font-size: 0.8125em;
    line-height: 1.84615em;
    line-height: 1.84615em;
    color: rgba(60, 60, 60, 0.5);
  }
  .kicker + h3 {
    margin-top: 0 !important;
  }

  .genealogy a {
    text-decoration: none;
  }
  .genealogy a + a:before {
    content: ": ";
    color: rgba(60, 60, 60, 0.1);
    text-decoration: none !important;
    margin: 0 0.25em;
  }
  .genealogy a + a:last-child:before {
    content: "> ";
    color: #666;
  }
}
@media screen and (min-width: 600px) {
  header[role=banner] h1 {
    text-align: left;
    font-size: 0.9375em;
    line-height: 1.6em;
    line-height: 1.6em;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    display: inline;
    padding-top: 3.2em;
    padding-bottom: 3.2em;
  }
}
@media screen and (min-width: 1100px) {
  .home header[role=banner] {
    background-position: bottom left;
  }
}
@media screen and (min-width: 1100px) {
  .home header[role=banner] .teaser {
    width: 48.57143%;
    float: right;
    margin-right: 0;
    *margin-left: -2em;
    display: inline;
    margin: 0;
    padding-top: 3.6em;
    padding-bottom: 3.6em;
  }
}

@media screen and (min-width: 600px) {
  #sitenav {
    width: 48.57143%;
    float: right;
    margin-right: 0;
    *margin-left: -2em;
    display: inline;
    text-align: right;
  }
}
@media screen and (min-width: 600px) {
  .home #sitenav {
    margin-left: -2.85714%;
    padding-left: 2.85714%;
    margin-right: -2.85714%;
    padding-right: 2.85714%;
  }
}
@media screen and (min-width: 600px) {
  div[role=main] {
    padding-left: 8.57143%;
    padding-right: 8.57143%;
    padding-bottom: 3em;
  }
}
@media screen and (min-width: 600px) {
  div[role=main] > h1, .page div[role=main] h1, .single div[role=main] h1 {
    text-align: left;
    margin-left: -13.7931%;
    padding-left: 13.7931%;
    margin-right: -13.7931%;
    padding-right: 13.7931%;
  }
}

@media screen and (min-width: 600px) {
  .featured-image {
    width: 85%;
    float: right;
    margin-right: 0;
    *margin-left: -2em;
    display: inline;
    margin-right: -60.0%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 600px) {
  #featured-content .primary {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
  }
}
@media screen and (min-width: 600px) {
  #featured-content .secondary {
    width: 48.27586%;
    float: right;
    margin-right: 0;
    *margin-left: -2em;
    display: inline;
  }
}

@media screen and (min-width: 600px) {
  .page .entry,
  .page article footer,
  .single .entry,
  .single article footer {
    width: 68.96552%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
  }
  .page .contextual,
  .single .contextual {
    width: 27.58621%;
    float: right;
    margin-right: 0;
    *margin-left: -2em;
    display: inline;
  }
}
@media screen and (min-width: 600px) {
  footer[role=contentinfo] {
    text-align: left;
  }
  footer[role=contentinfo]:before, footer[role=contentinfo]:after {
    content: "";
    display: table;
  }
  footer[role=contentinfo]:after {
    clear: both;
  }
  footer[role=contentinfo], .ie footer[role=contentinfo] {
    *zoom: 1;
  }
  footer[role=contentinfo] .vcard,
  footer[role=contentinfo] p {
    width: 31.42857%;
    float: right;
    margin-right: 0;
    *margin-left: -2em;
    display: inline;
    clear: right;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: .5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h1, h2, h3 {
    page-break-after: avoid;
  }

  nav {
    display: none;
  }
}
