* {
  @include box-sizing(border-box);
  margin:0;
  padding:0;
}

@include establish-baseline;

html {
    background: #f7f7f7 url('images/subtle_dots.png') fixed;
}

body {
  font-family: $default-font;
  color: $default-color;
  @include container;
  @include background(
      linear-gradient(left, color-stops($complementary-color 0, $complementary-color 50%, transparent 50%)),
    linear-gradient(left, color-stops($base-color 0, $base-color 50%, transparent 50%)),
    linear-gradient(left, color-stops($analogous-positive 0, $analogous-positive 50%, transparent 50%)),
    linear-gradient(left, color-stops($default-color 0, $default-color 50%, transparent 50%)),
    linear-gradient(left, color-stops($complementary-analogous-positive 0, $complementary-analogous-positive 50%, transparent 50%)),
    linear-gradient(left, color-stops($default-color, $default-color))
    );

    @include background-size(57% 5px, 41% 5px, 37% 5px, 29% 5px, 13% 5px, 7% 5px);
    background-repeat: repeat-x;
    background-position: -10% 0;
    padding-top: 5px;
  background-color:#fff;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-active-color,
  $link-visited-color, $link-focus-color);

  nav & {
    text-decoration:none;
  }
}

#{headings()} {
  font-family: $heading-font;
  a {
    text-decoration:none;
  }
}

h1 {
  @include adjust-font-size-to(36px);
  @include adjust-leading-to(3, 36px);
}

h2 {
  @include adjust-font-size-to(24px);
  @include adjust-leading-to(1, 24px);
  @include leader(2,24px);
  &:first-child {
    @include leader(1,24px);
  }

  font-weight:bold;
}

h3 {
  @include adjust-font-size-to(20px);
  @include adjust-leading-to(1,20px);
  font-family: $sans-serif;
  color: $default-color-light;
  @include leader(2, 20px);
  
  h2 + & {
    @include leader(1, 20px);
  }
}

#{headings(4,6)}{
  @include leader(1);
  & + p {
    margin-top:0;
  }
}

h4 {
  font-weight:bold;
}

h5 {
  font-style:italic;
}

h6 {
  font-style:italic;
  color: $default-color-lighter;
}

p {
  margin: rhythm(1) 0;
}

blockquote {
  margin: 0 rhythm(1) 0 0;
  border-left: 1px solid $default-color-lightest;
  padding-left: rhythm(1);
  font-style:italic;
}

dl {
  margin: rhythm(1) 0;

  dt {
    font-weight:bold;
  }
  dd {
    margin: 0 0 rhythm(1) rhythm(1);
  }
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

ul, ol {
  padding:0;
  margin: rhythm(1) 0 rhythm(1) rhythm(1);

  nav & {
    margin-left:0;
    padding-left:0;
    list-style:none !important;
  }

  ul {
    list-style:circle;
  }

  ol {
    list-style:upper-alpha;
  }

  ul, ol {
    margin: 0 0 0 rhythm(1);

    ul {
      list-style:square;
    }

    ol {
      list-style:lower-alpha;
    }

    ul,ol {
      ul {
        list-style:diamond;
      }

      ol {
        list-style:lower-roman;
      }
    }
  }
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

th,
td {
  padding: rhythm(1) rhythm(0.5) 0;
  @include trailing-border(1px);
  border-color: rgba(0,0,0,.2);
}

th {
  @include trailing-border(3px);
  text-align:left;
}

img {
  max-width:100%;
  width:auto;
  height:auto;
}

em,i {
  font-style:italic;
}

strong, b {
  font-weight:bold;
}

code {
  font-family: monospace;
  color: rgba(black, 0.75);
}

del {
  color: $default-color-lighter;
}

ins {
  text-decoration:none;
  background: rgba(yellow, 0.125);
}

hr {
  border:none;
  &:after {
    display:block;
    content: "\25C9 \25C9 \25C9";
    font-family: sans-serif;
    color: $analogous-positive;
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(2,16px);
    text-align:center;
    @include trailer(1, 16px);
    letter-spacing: rhythm(0.25, 16px);
  }
}

header[role=banner] {
  border-bottom:1px solid $default-color-lightest;
  @include background(
    linear-gradient(left, rgba(#fff, 0.25), rgba(#fff, 0.25)),
    url("images/subtle_dots.png")
    );
  background-attachment:fixed;
  @include clearfix;
  @include bleed(gutter(12));
  h1 {
    text-align:center;
    font-family: $sans-serif;
    @include adjust-font-size-to(20px);
    @include adjust-leading-to(1, 20px);
    @include padding-leader(2, 20px);
    margin:0;
    @media (min-width: $medium-screen) {
      text-align:left;
      @include adjust-font-size-to(15px);
      @include adjust-leading-to(1, 15px);
      @include span-columns(6);
      @include padding-leader(2, 15px);
      @include padding-trailer(2, 15px);
    }
  }

  nav {

    @media (min-width: $medium-screen) {
      @include span-columns(6 omega);
    }

    ul {
      @include adjust-font-size-to(15px);
      @include adjust-leading-to(1, 15px);
      @include padding-leader(2, 15px);
      @include padding-trailer(2, 15px);
      font-family: $sans-serif;
      text-align:center;
      margin:0;
      @media (min-width: $medium-screen) {
        text-align:right;
      }
    }
    li {
      display:inline;

      & + li:before {
        content: " · ";
        color: $default-color-lighter;
      }

      &.current-menu-item,
      &.current_page_item {
        a {
          color: $default-color;
          border-bottom: 3px solid $default-color;
          padding-bottom: 5px;
        }
      }
    }

  }
}

div[role=main] {
  @include clearfix;
  padding: rhythm(1) 0;
  @media (min-width: $medium-screen) {
    @include pad(1,1);
    padding-bottom: rhythm(2);
  }

    & >,
    .page &,
    .single & {
      h1 {
      @include adjust-font-size-to(36px);
      @include padding-trailer(1, 36px);
      @include trailer(2, 36px);
      text-align:center;
      @include bleed($grid-padding);
      border-bottom: 1px solid $default-color-lightest;

      @media (min-width: $medium-screen) {
        text-align:left;
        @include bleed(space(1, 10) + gutter(10));
      }
    }
  }
}

article {
  @include clearfix;
  .entry {
    .page &,
    .single & {
      & > p:first-child {
        font-family: $sans-serif;
        @include adjust-font-size-to(20px);
        @include adjust-leading-to(1.5,20px);
        margin: 0 0 rhythm(1.5, 20px);
      }
    }
  }

  h1 {
    .blog & {
      @include adjust-font-size-to(24px);
      @include adjust-leading-to(1, 24px);
      border:none !important;
      background:none!important;
    }
  }

  .blog & + article:before {
    display:block;
    content: "\25C9 \25C9 \25C9";
    font-family: sans-serif;
    color: $analogous-positive;
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(2,16px);
    text-align:center;
    @include trailer(1, 16px);
    letter-spacing: rhythm(0.25, 16px);
  }
}

.content-feature {
  @include span-columns(4, 12);

  #featured-content &:nth-child(3) {
    @include span-columns(4 omega, 12);
  }
}

.contextual {
  & > ul {
    @include adjust-font-size-to(14px);
  }

  li {
    border-top: 1px solid #eee;

    a {
      display:block;
      @include adjust-leading-to(1,14px);
      @include padding-leader(0.5,14px);
      @include padding-trailer(0.5,14px);
      padding: rhythm(0.5, 14px);
    }

    &.current_page_item a {
      color: $default-color;
      font-weight:bold;
    }
  }
}

.commentlist {
  list-style:none;
  margin-left:-40px;

  .comment-author,
  .comment-meta {
    display:inline;
    
    a {
      text-decoration:none;
    }
  }
  
  .comment-meta {
    text-align:right;
    float:right;
    @include adjust-font-size-to(12px);
    @include adjust-leading-to(1, 12px);
  }

  .says {
    display:none;
  }
  cite a {
    text-decoration:none;
  }

  img {
    width: 36px;
    height:36px;
    @include border-radius(18px);
    display:block;
    float:left;
    margin-left: -40px;
    border:1px solid $default-color-lightest;
    padding:2px;
  }

  li {
    padding-left: 40px;
    margin-bottom: rhythm(1);
    padding-bottom: rhythm(1);
  }

  > li {
    border-bottom: 1px solid $default-color-lightest;
  }

  ul {
    list-style:none;
    margin-left: columns(1, 10);
    margin-top: rhythm(1);
  }

  .comment-reply-link {
    text-decoration:none;
    background: lighten($default-color, 50%);
    color: rgba(#fff, 0.9);
    @include border-radius(2px);
    @include adjust-font-size-to(12px);
    padding: 0.25em 0.5em;
    font-family: $sans-serif;
    &:hover,
    &:focus {
      background: $link-color;
    }
  }
}

.pager {
  @include clearfix;

  li {
    float:left;
    width: 48%;

    &.newer {
      float:right;
      text-align:right;
    }
  }

  .kicker {
    display:block;
    @include adjust-font-size-to(11px);
    @include adjust-leading-to(1, 11px);
  }
}

@media (min-width: $medium-screen) {
  .page,
  .single {
    .entry {
      @include span-columns(7, 10);
    }

    .contextual {
      @include span-columns(3 omega, 10);
    }
  }
}

footer[role=contentinfo] {
  padding-top: rhythm(1);
  border-top: 1px solid $default-color-lightest;
  @include bleed($grid-padding);
  background: #fff url('images/subtle_dots.png') fixed;

  p,
  .vcard {
    @include adjust-font-size-to(14px);
    @include adjust-leading-to(0.8,14px);
    color: $default-color-light;
  }

  @media (min-width: $medium-screen) {
    @include clearfix;
    text-align:left;
    .vcard,
    p {
      @include span-columns(4 omega);
      clear:right;
    }
  }
}

.kicker {
  margin:0;
  @include adjust-font-size-to(13px);
  @include adjust-leading-to(1, 13px);
  color: $default-color-lighter;
}

.genealogy {
  a {
    text-decoration:none;
    & + a:before {
      content: ": ";
      color: $default-color-lightest;
      text-decoration:none !important;
      margin: 0 0.25em;
    }

    & + a:last-child:before {
      content: "> ";
      color: #666;
    }
  }
}

@if ($development == true) {

  header,
  h1
   {
    background:none !important;
  }
  html {
      @include baseline-grid-background;
  }
  body {
      background-color: rgba(255,255,255,0.8) !important;
      @include susy-grid-background;
      background-size:auto;
  }

}
